!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %title= page_title
    %meta{:name => 'title', :content => page_title}
    %meta{:name => 'name', :content => page_title}
    %meta{:property => 'og:title', :content => page_title}
    %meta{:name => 'description', :content => page_description}
    %meta{:itemprop => 'description', :content => page_description}
    %meta#meta-tag-description{:property => 'og:description', :content => page_description}
    = javascript_include_tag 'all'
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Open+Sans:400,600'
    = stylesheet_link_tag 'all'
    %script{:src => 'https://apis.google.com/js/client.js?onload=initCalendar'}
  %body
    .head.section-wrap
      .head-logo-wrap
        %a{:href => '/'}
          %img.head-logo{:src => '/images/logo.png'}
      %ul
        %li
          %a.nav-link{:href => '/contact'} Contact
        %li.dropdown
          %a.dropbtn{:href => '/techdata'} Technical Data
          .dropdown-content
            %a{:href=> "/techdata/whitepapers"} White Papers
            %a{:href=> "/blog"} Blog
            %a{:href=> "/techdata/casestudies"} Projects
        %li.dropdown
          %a.dropbtn{:href => '/products'} Products  
          .dropdown-content
            %a{:href=> "/Products/ipblaster"} IP Blaster
            %a{:href=> "/Products/bacnet"} BACnet LabVIEW API
            %a{:href=> "/Products/SquareBattle"} SquareBattle
        %li.dropdown
          %a.dropbtn{:href=> "/industries"} Industries 
          .dropdown-content
            %a{:href=> "/Industries/AeroDef"}Aerospace/Defense
            %a{:href=> "/Industries/Medical"} Medical
            %a{:href=> "/Services/control"} Industrial Control
            %a{:href=> "/Industries/electronics"} Consumer Electronics
            %a{:href=> "/Industries/oilandgas"} Oil and Gas
        %li.dropdown
          %a.dropbtn{:href=> "/services"} Services
          .dropdown-content
            %a{:href=> "/Services/LabVIEW"} LabVIEW Development
            %a{:href=> "/Services/turnkey"} Turnkey Systems
            %a{:href=> "/Services/control"} Industrial and Embedded Control
            %a{:href=> "/Services/vision"} Vision Systems
            %a{:href=> "/Services/autoTest"} Automated Test Consulting
            
    .page-content-wrap
      = yield
    .foot.section-wrap
      %table.footer-table
        %tr
          %td
            %img.head-logo{:src => '/images/logo.png'}
          %td
            .copyright-wrap
              &copy; 2017 Endigit
          %td.footer-table-right
            %img.ni-alliance-badge{:src => '/images/national-instruments/silver-alliance-partner.png'}
                
         
       
  