!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %title= page_title
    %meta{:name => 'title', :content => page_title}
    %meta{:name => 'name', :content => page_title}
    %meta{:property => 'og:title', :content => page_title}
    %meta{:name => 'description', :content => page_description}
    %meta{:itemprop => 'description', :content => page_description}
    %meta#meta-tag-description{:property => 'og:description', :content => page_description}
    = javascript_include_tag 'all'
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Open+Sans:400,600'
    = stylesheet_link_tag 'all'
    %script{:src => 'https://apis.google.com/js/client.js?onload=initCalendar'}
  %body
    .head.section-wrap
      .head-logo-wrap
        %img.head-logo{:src => '/images/logo.png'}
        %img.ni-alliance-badge{:src => '/images/national-instruments/silver-alliance-partner.png'}
      %a.nav-link{:href => '/'} Home
      %a.nav-link{:href => '/why-labview'} Why LabVIEW?
      %a.nav-link{:href => '/expertise'} Expertise
      %a.nav-link{:href => '/products'} Products
      %a.nav-link{:href => '/bacnet'} BACnet
      %a.nav-link{:href => '/support'} Support
      %a.nav-link{:href => '/contact'} Contact
      %a.nav-link{:href => '/blog'} Blog
    .page-content-wrap
      .section-wrap
        = yield
    .foot.section-wrap.tall
      .copyright-wrap
        &copy; 2016 Endigit
