%h1 NI Week 2015
%p
  In my opinion, NI Week was everything it needed to be. There were
  #{ext_link 'many presentations', 'https://decibel.ni.com/content/groups/niweek-2015?view=documents'}
  given, lots of information exchanged, business cards passed around, prizes awarded
  (I won a Raspberry PI kit auctioned off by Sixclear at the LAVA BBQ!), and
  generally a good time, so definitely worth the trip! There were a few parts of the
  keynotes that I feel fell a little short. Maybe my expectations were just too
  high? Maybe. But, for instance, as
  #{ext_link 'Brandon Steele', 'https://www.linkedin.com/pub/brandon-steele/4/375/b17'}
  pointed out, if you are showing off a cool new bike that you can monitor using
  LabVIEW, you definitely should hire a professional to ride it around the stage
  instead of just picking it up and spinning the tires.

%p
  Despite the lack of “pop”, Endigit was especially excited because two of NI’s
  company highlights during the keynote presentations were Endigit clients!

%ul
  %li
    #{ext_link 'Steve Aposhian', 'https://www.linkedin.com/pub/steve-aposhian/2/a69/884'},
    a Utah native, and
    #{ext_link 'FireFly Equipment', 'http://fireflyequipment.com/'} showed off his
    huge sod farming machine. They even brought it out onto the floor and started it
    up. Had it pick up and palletize a bunch of sod!
  %li
    #{ext_link 'Innovari', 'http://www.innovari.com/'}, one of Endigit’s key
    clients, was also highlighted on stage for the work they are doing  with the
    electric grid.
%p Here are some more highlights from NI Week 2015:
%ol
  %li
    Robert Mortensen took 2nd place in the
    “#{ext_link 'Fastest LabVIEW Programmer Coding Challenge', 'http://forums.ni.com/t5/LabVIEW/Announcing-NIWeek-2015-quot-World-s-Fastest-LabVIEW-Programmer/td-p/3165884'}”.
    Here is how the whole thing worked:
    %ol
      %li
        There was a kiosk set up on the main floor of the expo where everybody had a chance to
        race for the fastest time to solve the three code challenge problems. Here is the
        scoreboard after the kiosk had closed down but before the coding challenge actually
        started. The Absolute Winner was actually me, copying and pasting the solutions from
        an external program. In other words, The Absolute Winner was absolutely cheating and
        still only managed to beat
        #{ext_link 'Matthais Baudot','https://www.linkedin.com/pub/matthias-baudot/37/b05/4b9'}
        and Robert by less than a minute! These guys were fast!
        %br
        Carl Wecker, also from Endigit, was in third place followed by
        #{ext_link 'Norm Kirchner', 'https://www.linkedin.com/pub/norman-kirchner-jr/2/563/73'}
        pretending to be
        #{ext_link 'Chris Cilino', 'https://www.linkedin.com/in/chriscilino'}
        (the guy who set up the contest) in 4th.
        %img.product-image{:src => '/images/wantedList.jpg'}
      %li
        The top two contestants, Matthias and Robert, then were called over to the stage where
        a final hoe-down ensued. The contest came down to the wire with a score of 2 to 2 and
        the tiebreaker going to Matthias Baudot seconds before Robert finished.
        %img.product-image{:src => '/images/awards.jpg'}
      %li
        After the challenge was over,
        #{ext_link 'Derek Trepanier', 'https://www.linkedin.com/pub/derek-trepanier/27/50b/a54'}
        from MGI hacked the system even more and flushed the scoreboard with “DEREK RULES.”
        We are all glad he waited till the competition was done before wiping the scoreboard clean (:
        %img.product-image{:src => '/images/wiped.jpg'}
  %li
    LabVIEW 2015 - Though it maybe didn’t have tons of pizazz, there are a few key features that I
    am definitely looking forward to. For more information you can check out the full list of
    #{ext_link 'LabVIEW 2015 features and changes', 'http://zone.ni.com/reference/en-XX/help/371361M-01/lvupgrade/labview_features/'},
    many of which originated on the
    #{ext_link 'idea exchange', 'http://forums.ni.com/ni/?category.id=ideas'}.
    %ol
      %li
        LabVIEW 2015 has a revamped “add space to block diagram” feature. Ctl+Mouse Drag
        still adds space to the block diagram, but the cool part is that they made it much easier
        to add space in just one direction. And then, even cooler, Ctl+Alt+Mouse Drag removes
        space from the block diagram!
      %li
        They have opened up the right click menus! Darren Nattinger and Stephen Loftus-
        Mercer did a great presentation on
        #{ext_link 'augmenting the right-click menus', 'https://decibel.ni.com/content/docs/DOC-43394'}.
        Essentially, it is  not super user-friendly to update them since there are different right-click menus all
        over LabVIEW based on where you are at in the program and what is being right-clicked
        on, but it can be done! I am most excited to rearrange the menus to put some of the
        right-click functionality that I constantly use closer to the top.
      %li
        Arrays in probes can now be resized! Yay! That was definitely a pain-point every once in
        a while that just made me cringe.
      %li
        Changing from an element to an array and back through the right-click menu will
        definitely be useful.
      %li
        Adding Hyperlinks to notes may turn out to be very helpful for documentation.
%p Happy Coding!!!
%p - Carl Wecker
