%h1 Expertise
%p
  Endigit has experience with National Instruments hardware and software, and with many other non-NI hardware and software as well.  Endigit wants engineering projects to be successful.  Even if you don't plan on using Endigit consulting services, please contact us if you have questions with any technologies listed on this page.  Contacting us is free and good decisions made in design phase can save large amounts of time and money later.
%h2
  LabVIEW #{ext_link 'FPGA', 'http://www.ni.com/labview/fpga/'} and
  #{ext_link 'Real-Time', 'http://www.ni.com/labview/realtime/'}:
%p
  The speed and reliability of FPGA hardware can solve problems that are impossible for CPU based hardware.  Endigit is
  an expert in LabVIEW FPGA software development and has a National Instrument's
  #{ext_link 'LabVIEW Embedded Systems Developer', 'http://sine.ni.com/nips/cds/view/p/lang/en/nid/211484'}
  Certification.  Endigit engineers can identify how FPGA hardware can help the customer and deliver robust FPGA
  solutions.
%p
  The NI Real-Time module, like FPGA, allows the development of deterministic, reliable control systems.  Endigit
  engineers understand how to design LabVIEW systems that take full advantage of deterministic operating systems.
%img.certification-image{:src => '/images/Certified-LabVIEW-Embedded-Systems-Developer_rgb.png', :alt => 'Certified Embedded Systems Developer'}

%h2 #{ext_link 'LabVIEW', 'http://www.ni.com/labview/'}:
%p
  As #{ext_link 'Certified LabVIEW Architects', 'http://www.ni.com/services/certified_labview_architects.htm?location=UT'},
  Endigit engineers have the highest level of LabVIEW Certification that National Instruments has to offer.  Endigit
  engineers ensure that LabVIEW code both functions correctly and does so in an intuitive way for the customer.
%p
  Endigit has the experience and understanding of LabVIEW to design new systems, troubleshoot incorrect behaviors, and
  access the risk of changing Legacy LabVIEW code.
%img.certification-image{:src => '/images/labview%20cla.jpg', :alt => 'LabVIEW CLA'}

%h2 #{ext_link 'TestStand', 'http://www.ni.com/teststand/'}:
%p
  Endigit recognizes the value of TestStand and has a National Instrument's Certified TestStand Developer.  Endigit can
  make your TestStand project successful and provide experienced advice about the use of TestStand in your new project.
%p
  See NI's #{ext_link 'Designing Custom Automated Test Solutions', 'http://www.ni.com/white-paper/3729/en/'} white
  paper for the advantages of TestStand.
%img.certification-image{:src => '/images/CertifiedTeststandDeveloper.gif', :alt => 'Certified TestStand Developer'}

%h2 Other Technologies:
%p
  Endigit brings the career experience of its engineers together to deliver excellent expertise in the following
  technologies, which do not have equivalent National Instrument certifications:
%h3 #{ext_link 'NI-DAQ', 'http://www.ni.com/data-acquisition/'}:
%p
  NI-DAQ is used to collect data from National Instrument's various acquisition hardware.  The capability of different NI hardware varies in precision, buffering, triggering, speed, latency, and configuration options.
%h3 #{ext_link 'NI-Vision', 'http://www.ni.com/vision/'}:
%p
  NI-Vision is a versatile driver for video and still cameras.  NI-Vision can be used for inspection or for control.
%h3 #{ext_link 'VeriStand', 'http://www.ni.com/veristand/'}:
%p
  VeriStand is a National Instrument's software useful for simulating hardware in a Real-time system.  Out of the box it can control Real-Time hardware and display control information on a PC.
%h3 #{ext_link 'NI-DIAdem', 'http://www.ni.com/diadem/'}:
%p
  NI-DIAdem software processes large data sets quickly and efficiently.  With customization options and Microsoft Excel plugins, NI-DIAdem is a powerful tool for analyzing large amounts of data.
%h3 #{ext_link 'Com Protocols', 'http://www.ni.com/comm/'}:
%p
  There are a wide-variety of communication protocols such as CAN, I2C/SPI,
  #{ext_link 'ARINC', 'http://www.aviation-ia.com/standards'}, Modbus, EtherCAT, and OPC.  National Instruments makes hardware to communicate with some of these protocols, and FPGA may be used to communicate with others.
%p
  Endigit uses these various communication protocols and can answer questions about them.
%h3 #{ext_link 'Instrument Control GPIB &amp; Serial', 'http://www.ni.com/instrument-control/'}:
%p
  Stand alone instruments have been around for decades.  Automating these instruments can save hours of operator time
  and reduce error.  Communicating with these instruments typically involves using
  #{ext_link 'SCPI', 'http://ivifoundation.org/scpi/default.aspx'} commands over a communication buss such as Serial,
  #{ext_link 'GPIB', 'http://www.ni.com/gpib/'}, USB for Instruments, or TCP/IP.  Endigit's engineers have experience
  communicating with instruments from
  #{ext_link 'HP/Agilent/Keysight', 'http://www.keysight.com'},
  #{ext_link 'Tektronix', 'http://www.tek.com'},
  #{ext_link 'California Instruments', 'http://www.elgar.com'},
  #{ext_link 'IFI', 'http://www.ifi.com'},
  #{ext_link 'Pacific Instruments', 'http://www.pacificinstruments.com'},
  #{ext_link 'ETS-Lindgren', 'http://www.ets-lindgren.com'},
  #{ext_link 'Amplifier Research', 'http://www.ar-amps.com'},
  #{ext_link 'Anritsu', 'http://www.anritsu.com'},
  #{ext_link 'VTI Instruments', 'http://www.vtiinstruments.com/Home.aspx'},
  #{ext_link 'Chroma', 'http://www.chromausa.com/index.php'},
  #{ext_link 'Ophir RF', 'http://www.ophirrf.com/index.php'},
  #{ext_link 'SRS', 'http://www.thinksrs.com'},
  #{ext_link 'Spirent', 'http://www.spirent.com'},
  #{ext_link 'Xantrex', 'http://www.xantrex.com'},
  #{ext_link 'Yokogawa', 'http://www.yokogawa.com/us/'},
  and others.  Endigit engineers also have experience writing to custom devices and using non-SCPI commands.