
%div.content
  %h2 About Us
  %p
    Endigit is a premier #{ext_link 'LabVIEW', 'http://ni.com/labview'} development company, specializing in all areas of
    LabVIEW development, including #{ext_link 'LabVIEW RT', 'http://www.ni.com/labview/realtime/'} and
    #{ext_link 'LabVIEW FPGA', 'http://www.ni.com/labview/fpga/'}.  As a
    #{ext_link 'National Instruments', 'http://www.ni.com/'}
    #{ext_link 'Certified Silver Alliance Partner', 'http://www.ni.com/alliance/'} we work closely with NI to provide you with
    the best integration solution.  As
    #{ext_link 'Certified LabVIEW Architects',  'http://www.ni.com/services/certified_labview_architects.htm?location=UT'},
    our engineers have attained the highest level of proficiency National Instruments has to offer, ensuring that your
    system is built with clean and efficient code.  Based in the Greater Salt Lake City Area, Endigit serves Utah and the
    Mountain West as well as national customers. The name Endigit is a compilation of the concepts of engineering and the
    digital world.
  %p
    Endigit's goal is to help our customers be successful.  If you are considering using a consultant for your system
    integration, you may want to view this
    #{ext_link 'three page paper', 'http://www.controlsys.org/images/documents/CSIANewsReleases/10%20reasons%20why%20system%20integration%20is%20important.pdf'}
    by the #{ext_link 'Control System Integrators Association (CSIA)', 'http://www.controlsys.org'}.
  %h2
    #{ext_link 'Customer Reviews on NI Alliance Page', 'http://partners.ni.com/partner_locator/partner_details.aspx?id=86525&amp;tab=testimonials#testimonials'}
  %p
    Quote from #{ext_link 'Forbes Article', 'http://www.forbes.com/sites/alexknapp/2011/10/12/national-instruments-is-leading-a-quiet-technological-revolution/'}
    %blockquote
      %p
        "What LabVIEW has meant for testing is increased productivity – the ability to do more in less time with fewer
        people, while still achieving the same results.
      %p
        In building the James Webb Space Telescope, for example. NASA anticipated that they would need about 600
        programmers and several years to design and test due to the 50,000+ actuated mirrors on the telescope. Using
        LabVIEW, however, they were able to complete the project with only 2 programmers over the course of a few months.
        That’s an impressive achievement."

%div#events

